.Instructions {
  overflow: scroll;
  .Break {
    width: 16px;
    text-align: center;
  }
  .Address {
    width: 64px;
    text-align: left;
  }
  .HexDump {
    width: 100px;
    text-align: left;
  }
  .Disassembly {
    width: 200px;
    text-align: left;
  }
  .Operator {
    width: 32px;
    text-align: left;
  }
  .Opdata {
    width: 100px;
    text-align: left;
  }
  .Comment {
    width: 128px;
    text-align: left;
  }
}