.FileSelector {
  position: relative;
  height: 256px;
  width: 240px;
  background-color: cornflowerblue;
  .selector {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  .status {
    position: absolute;
    left: 0;
    top: calc(50% - 6px);
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
}