.PPU {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .Mirroring {
    position: absolute;
    left: 0;
    top: 0;
  }
  .Data {
    position: absolute;
    left: 0;
    top: 500px;
  }
  .Palette {
    position: absolute;
    left: 520px;
    top: 0;
  }
  .Tiles {
    position: absolute;
    left: 520px;
    top: 180px;
  }
  .Sprite {
    position: absolute;
    left: 520px;
    top: 355px;
  }
  .Screen {
    position: absolute;
    left: 520px;
    top: 300px;
  }
}